@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter:wght@600&display=swap");

footer {
  width: 100%;
  background: #f5f5f5;
}

.footer-list {
}

.footer-list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px;
}

.footer-list-item-number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-list-item-number > span {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #050504;
}

.footer-list-item-number > a {
  margin-top: 24px;
  font-family: "Inter";
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.32);
}

.footer-list-item-number > a:hover {
  color: #050504;
}

.footer-color > hr {
  background: #050504;
  opacity: 0.1;
  border: 1px solid #050504 !important;
}

.footer-color {
  background-color: #2e2e2e;
}

.footer-list-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 180px;
}

.footer-list-down > span {
  font-family: "Inter";
  font-size: 14px;
  line-height: 14px;
  color: #8f8f8f;
}

.footer-list-down-logo > a {
  padding-left: 5px;
}

.footer-list-down > img {
  width: 32px;
  height: 32px;
}
